In [1]:
import pandas as pd

In [4]:
#Load in data
file_path = "vine_table.csv"
df = pd.read_csv(file_path)
df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R26MV8D0KG6QI6,5.0,0.0,0.0,N,Y
1,R1OF8GP57AQ1A0,5.0,0.0,0.0,N,Y
2,R3VDC1QB6MC4ZZ,5.0,0.0,0.0,N,N
3,R12FA3DCF8F9ER,5.0,0.0,0.0,N,Y
4,RTWHVNV6X4CNJ,5.0,0.0,0.0,N,Y
5,RIG9AWFOGRDVO,2.0,1.0,1.0,N,Y
6,R1S1XSG4ZCHDGS,5.0,1.0,1.0,N,Y
7,RB15NBVY5ELVW,5.0,2.0,2.0,N,Y
8,R56358YM1ZJ7I,5.0,0.0,0.0,N,N
9,R1ODXB3C9UP3NL,1.0,1.0,3.0,N,N

In [7]:
#Filter df by total_votes greater than or equal to 20
new_df = df[df['total_votes']>=20]
new_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1103,R33VIWRD2X5IA9,1.0,0.0,20.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
1488,R26UFXLLQ2N0CR,1.0,0.0,20.0,N,Y
2371,R30PGWX4HN1CFG,1.0,85.0,95.0,N,Y
2418,R2XASGYIENUHQO,5.0,28.0,32.0,N,Y
2854,R34UQPQCTSKQK9,5.0,23.0,26.0,N,Y
3268,R2M6WNM2OZZHKS,1.0,20.0,22.0,N,N

In [13]:
#Filter the df to retrieve all the rows where the number of 
#helpful_votes divided by total_votes is equal to or greater than 50%.
new_df = new_df[df['helpful_votes']/df['total_votes']>=0.5]
new_df.tail(10)

C:\Users\akane\AppData\Local\Temp\ipykernel_16268\1807511358.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  new_df = new_df[df['helpful_votes']/df['total_votes']>=0.5]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2402338,R1HYUZ3MQCYY59,4.0,44.0,61.0,N,N
2402370,R2VL0QNMV986PY,5.0,33.0,35.0,N,N
2402405,R2RCBZS328GP8Y,4.0,29.0,37.0,N,N
2402407,R2ADGFKR25O067,5.0,48.0,50.0,N,N
2402409,RG9YCME7OAZFD,5.0,26.0,29.0,N,Y
2402413,R1IQNIT2UFQE97,5.0,26.0,27.0,N,N
2402422,RIQSTVHD4MQHH,5.0,21.0,23.0,N,N
2402425,RZOSXUI2V2LO7,5.0,23.0,23.0,N,N
2402441,R2XP1RFUXZWU9B,5.0,114.0,126.0,N,N
2402442,R1L2H6IJHX7Q6F,5.0,47.0,51.0,N,N

In [44]:
#Create new dataframe from new_df where vine=Y
yes_vine = new_df[new_df['vine']=='Y']
yes_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
78803,R3MKO875WGIEBJ,5.0,34.0,37.0,Y,N
90155,R3OPNTK61FQ7MP,5.0,32.0,37.0,Y,N
302146,RMDRU8I773X5U,4.0,22.0,25.0,Y,N
417135,RR83RGWFEFZCL,3.0,61.0,64.0,Y,N
477241,R2TMZ7GV8SPIRV,4.0,23.0,23.0,Y,N

In [45]:
#Create new dataframe from new_df where vine=N
no_vine = new_df[new_df['vine']=='N']
no_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
2371,R30PGWX4HN1CFG,1.0,85.0,95.0,N,Y

In [58]:
#fivestar = yes_vine[yes_vine['star_rating'] == 5.0]
#fivestar
yes_ids = yes_vine['review_id'].count()
yes_fives = (yes_vine['star_rating']==5.0).sum()
no_ids = no_vine['review_id'].count()
no_fives = (no_vine['star_rating']==5.0).sum()

In [67]:
#Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews 
#for paid reviews
print(f"Total Paid Reviews: {yes_vine['review_id'].count()}")
print(f"Total 5-Star Paid Reviews: {(yes_vine['star_rating']==5.0).sum()}")
print(f"Percentage of 5-Star Paid Reviews: {yes_fives / yes_ids:.2%}")

Total Paid Reviews: 61
Total 5-Star Paid Reviews: 20
Percentage of 5-Star Paid Reviews: 32.79%

In [68]:
#Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews 
#for unpaid reviews
print(f"Total Unpaid Reviews: {no_vine['review_id'].count()}")
print(f"Total 5-Star Unpaid Reviews: {(no_vine['star_rating']==5.0).sum()}")
print(f"Percentage of 5-Star Unpaid Reviews: {no_fives / no_ids:.2%}")

Total Unpaid Reviews: 28287
Total 5-Star Unpaid Reviews: 15689
Percentage of 5-Star Unpaid Reviews: 55.46%